{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h3 class="display-8 text-center my-5">View and Manage Your Teams</h3>
    <hr>
    {% if not captained_teams %}
    <p>You haven't captained any teams yet</p>
    {% endif %}
    <div class="row py-lg-4">
      <div class="col-lg-12 col-md-8 mx-auto">
        <table class="table table-responsive-md flex-wrap" id="manage_team_list">
            <thead>
              <tr class="green-card-body">
                <th scope="col">Name</th>
                <th scope="col">Tournament</th>
                <th scope="col">Edit</th>
                <th scope="col">Unregister</th>
              </tr>
            </thead>
            
            <tbody>
            {% for team in captained_teams %}
              <tr class="green-card-body">
                <!-- Remove Request couneter
                 <td>{{team.name}} (<span style="color: rgb(255, 18, 18); font-weight: bolder">{{ team.membership_requests.count }}<
                 -->
                <td>{{team.name}}</td>
                <td>{{team.tournament_name}}</td>
                <td><a href="{% url 'team_detail' team.id %}"><button type="button" class="btn btn-success btn-sm">View Details</button></a></td>
                <td><a href="{% url 'deregister_team' team.id %}"><button type="button" class="btn btn-danger btn-sm">Unregister Team</button></a></td>
              </tr>
            
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      
</div>
  
{% endblock %}