{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h3 class="display-8 text-center my-5">View Your Teams</h3>
    <hr>
    <!--  Removed the pending requests
    <table class="table table-responsive table-bordered caption-top" id="team_list">
      <caption class="text-center" style="color: yellow;">Pending requests</caption>
        <thead>
          <tr class="green-card-body">
            <th scope="col">Name</th>
            <th scope="col">Tournament</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        
        <tbody>
        {% for team in user.requested_teams.all %}
          <tr class="green-card-body">
            <td>{{team.name}}</td>
            <td>{{team.tournament_name}}</td>
            <td><button type="button" class="btn btn-warning btn-sm">Pending</button></td>
          </tr>
        
          {% endfor %}
        </tbody>
      </table>
      -->
      <hr class="hr hr-blurry" />
      <table class="table table-responsive table-bordered caption-top" id="team_list">
        <caption class="text-center" style="color: yellow;">Joined Teams</caption>
          <thead>
            <tr class="green-card-body">
              <th scope="col">Name</th>
              <th scope="col">Tournament</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          
          <tbody>
          {% for team in user.teams.all %}
            <tr class="green-card-body">
              <td>{{team.name}}</td>
              <td>{{team.tournament_name}}</td>
              <td><button type="button" class="btn btn-primary btn-sm">Joined</button></td>
            </tr>
          
            {% endfor %}
          </tbody>
        </table>
  
</div>
{% endblock %} 