{% extends 'base.html' %}
{% load team_names %}

{% block content %}
<div class="container">
<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <div class="col">
          <div class="card h-100 shadow-sm black-card">
            <div class="card-body">
              <h1 class="card-title">{{team.name}}</h1>
              <hr>
              <form action="{% url 'team_detail' team.id %}" method="post"> 
                {% csrf_token %}
                
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-6 mb-4 mt-2">
                      <label for="team_name" class="sr-only">Team name:</label>
                    </div>
                    <div class="col-md-6">
                      <input class="form-control" name="name" type="text" value="{{team.name }}">
                    </div>
                  </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-md-6 mb-4 mt-2">
                    <label for="max_members" class="sr-only">Number of players on a team:</label>
                  </div>
                  <div class="col-md-6">
                    <input class="form-control form-control-sm" type="number"  name="max_members" value="{{ team.max_members }}" readonly>
                  </div>
                </div>
              
              </div>
              <button type="submit" class="mb-2 mt-2 btn btn-sm btn-success">Save</button> 
            </form>
              <ul class="list-group list-group-flush">
                <li class="list-group-item green-card-body">Tournament: {{ tournament_detail.name }}</li>
                <li class="list-group-item green-card-body">Game: {{ tournament_detail.game_name }}</li>
                <li class="list-group-item green-card-body">Start Date: {{ tournament_detail.start_at}}</li>
                <!---
                <li class="list-group-item green-card-body">Type: {{ tournament_detail.tournament_type }}</li>
                --->
              </ul>
              
            </div>
          </div>
        </div>      
      </div>
    </div>

    <div class="row py-lg-4" id="team_list">
      <h3 class="lead text-body-secondary">Team members</h3>
    
    <div class="col-lg-8 col-md-8 mx-auto">
      <table class="table table-responsive caption-top" id="table_team_request" style="width: 100%;">
        <caption class="text-center" style="color: yellow;">Pending requests</caption>
          <thead>
            <tr class="green-card-body">
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
      
          <tbody>
          {% for user in team.membership_requests.all %}
            <tr class="green-card-body">
              <td>{{user.username}}</td>
              <td>{{user.email}}</td>
              <td>
                <div class="d-flex justify-content-center gap-1 flex-wrap">
                  <a href="{% url 'accept_request' team.id user.id %}"><button type="button" class="btn btn-primary btn-sm">Accept</button></a>
                <a href="{% url 'reject_request' team.id user.id %}"><button type="button" class="btn btn-danger btn-sm">Reject</button></a>
              </div>
            </td>
            </tr>
      
            {% endfor %}
          </tbody>
        </table>

        {% for user in team.membership_requests.all %}
    <div class="card-wrapper d-block d-lg-none">
      <div class="card">
        <div class="card-body green-card-body">
          <div class="row">
            <div class="col-sm-6">
              <p class="card-text">Name: {{ user.username }}</p>
            </div>
            <div class="col-sm-6">
              <p class="card-text">Email: {{ user.email }}</p>
            </div>
          </div>
          <br>
          <div class="d-flex justify-content-center gap-2">
            <a href="{% url 'accept_request' team.id user.id %}"><button type="button" class="btn btn-primary btn-lg">Accept</button></a>
            <a href="{% url 'reject_request' team.id user.id %}"><button type="button" class="btn btn-danger">Reject</button></a>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
    </div>

    <div class="col-lg-8 col-md-8 mx-auto">
      <table class="table table-responsive caption-top" id="manage_team_list">
        <caption class="text-center" style="color: yellow;">Joined Members</caption>
          <thead>
            <tr class="green-card-body">
              <th scope="col">Name</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
      
          <tbody>
          {% for user in team.members.all %}
            <tr class="green-card-body">
              <td>{{user.username}} ({{user.email}})</td>
              <td><a href="{% url 'delete_member' team.id user.id %}"><button type="button" class="btn btn-danger" style="font-size: smaller;">Mark as empty</button></a></td>
            </tr>
      
            {% endfor %}
          </tbody>
        </table>
    </div>
    </div>
    <a href="{% url 'deregister_team' team.id %}"><button type="button" class="btn btn-danger btn-sm">Unregister Team</button></a>
</section>
</div>


{% endblock %}